#index2page1 {
    background: linear-gradient(0deg, #171717 1.95%, rgba(0, 0, 0, 0) 83.73%), url("/images/index2/index2page1.png");
}

#index2page2 {
    background-image: url("/images/index2/index2page2.png");
}

#index2page1content1 {
    /* background-color: red; */
    position: relative;
    left: 310px;
    top: 376px;
    width:fit-content;
}

#index2page2content1 {
    position: absolute;
    left: 310px;
    top: 226px;
}

#index2page2content2 {
    position: absolute;
    left: 860px;
    top: 226px;

    /* display: flex; */
    /* align-items: center; */
}

#index2page2content2slideImages {
    background-color: aquamarine;
    height: 426px;
    width: 640px;
}


#index2page2content2slideImages::after {

}

#index2page2content2> :nth-child(2) {
    display: flex;
}
.skill {
    display: flex;
    flex-grow: 1;
}

.skill> :nth-child(2)> div> ul> * {
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}