footer {
    height: 30.16vw;
    max-width: 100%;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
}

footer> :first-child> :first-child {
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    /* line-height: 55px; */
    text-align: center;

    margin-bottom: 5vw;
}

footer> :first-child> :last-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    /* line-height: 18px; */
    text-align: center;
    /* letter-spacing: 0.03em; */

    color: #E84908;
}

footer> :first-child> :last-child::after {
    position: absolute;
    content: '';
    /* margin: 0 auto; */
    left: 50%;
    width: 8vw;
    height: 8vw;
    border: 0.05vw solid #E84908;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
}