.pages {
    position: absolute;
    left: 10%;
    top: 80%;

    width: 10%;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.pages > * {
    font-family: 'SUIT Variable';
    font-size: 1vw;
}

.buttons {
    /* background-color: violet; */
}

#page1 > .pages > .buttons > .prev {
    visibility:hidden;
}

#page3 > .pages > .buttons > .next {
    visibility:hidden;
}

.pageNumbers {
    /* background-color: tomato; */
}

.currentPage {
    font-weight: 600;
}

.totalPages {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}