#sidebarContainer {
    position: fixed;
    left: 0;
    top: 0;
    /* left:1920px; */
    width: 100%;
    height: 100%;
    z-index: 1;

    visibility:hidden;
    overflow: hidden;  
}

#sidebarContainer.active {
    visibility: visible;
}

#dimmed {
    width: 100%; 
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.3s;
}

#dimmed.active {
    opacity: 0.85;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #171717;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 1;
}

#sidebar.active {
    transform: translateX(0%);
}