#logo {
    position: fixed;
    top: 83px;
    z-index: 1;
    left: 10%;
    top: 10%;
    width: 5%;
}

#page1 {background-image: url("./images/main/page1.png");}
#page2 {background-image: url("./images/main/page2.png");}
#page3 {background-image: url("./images/main/page3.png");}
#index2page1 {background-image: url("./images/index2/index2page1.png");}
#index2page2 {background-image: url("./images/index2/index2page2.png");}
footer {background-image: url("./images/common/footer.png");}

#page1 ,#page2, #page3, #index2page1, #index2page2, footer {
    background-size: cover;
}

#contents {
    position: relative;
    width: 100%;
    /* height: 1080px; */
    overflow: hidden;
}