@charset "utf-8";

@import "./styleId.css";
@import "./styleClass.css";
@import "./hamberger.css";
@import "./sidebar.css";

html {
    scroll-behavior: smooth;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#pages {
    position: absolute;
    width: 200px;
    /* height: 32px; */
    left: 310px;
    top: 955px;
}

#currentPage {
    font-weight: 600;
}

#p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

#totalPages {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

#titleMenu {
    position: absolute;
    top: 315px;
    left: 110px;

    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0.05em;
}

#titleMenu * {
    color: #666567;
}

#titleMenu :hover {
    color: #FFFFFF;
}

#titleMenu :not(:last-child) {
    margin-bottom: 50px;
}

#subMenu {
    position: absolute;
    top: 762px;
    left: 110px;
}

#subMenu> :not(:first-child) {
    margin-top: 34px;
}

.menuSubtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #E84908;

    margin-bottom: 9px;
}

.menuSubDescription {
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;
}