.contentContainer {
    position: relative;
    width: 100vw;
    height: 56.24vw;
    /* overflow: hidden; */
}

.content {
    position: absolute;
    left: 20%;
    top: 45%;
}

.title1 {
    /* en/h1/extrabold/60 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    /* line-height: 73px; */
    /* letter-spacing: 0.03em; */
    
    margin-bottom: 5%;
}

.title1_2 {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.title2 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;

    color: #e84908;

    margin-bottom: 21px;
}

.redTail::after {
    content: "⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯";
    margin-left: 10px;
    color: #e84908;
}

.title3 {
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.index2.title2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.index2.title1 {
    font-weight: 800;
    font-size: 44px;
    line-height: 55px;

    margin-bottom: 55px;
}

.index2.title3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}