:root {
    --color-default-black: hsl(200, 4%, 16%);
    --color-default-white: hsl(42, 66%, 93%);
    --color-primary: hsl(176, 89%, 37%);

    /* default */
    --width-default-nav: 10rem;
    --margin-default-nav: calc(var(--ratio-half) * 1rem);
    --margin-default-block: calc(var(--ratio-half) * 1rem);
    --margin-default-inline: calc(var(--margin-default-block) * var(--ratio-half));
    --radius-default: 1rem;
    --padding-default: 1rem;

    --padding-block-tag: calc(var(--ratio-three-quarters-of-quarter) * 1rem);
    --padding-inline-tag: calc(var(--ratio-three-quarter) * 1rem);
    --margin-tag: calc(var(--ratio-half) * 1rem);

    --ratio-three-quarters-of-three-quarter: 0.875;
    --ratio-three-quarter: 0.75;
    --ratio-half: 0.5;
    --ratio-quarter: 0.25;
    --ratio-three-quarters-of-quarter: 0.1875;
    --ratio-eighth: 0.125;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* TODO 변수 어감 변경하기 */
        --color-default-white: hsl(200, 4%, 16%);
        --color-default-black: hsl(42, 66%, 93%);
    }
}

@font-face {
    font-family: 'Pretendard Variable';
    src: url('/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Pretendard Variable', sans-serif;

    color: var(--color-default-black);
    background-color: var(--color-default-white);
}

body {
    margin-block: var(--margin-default-block);
    margin-inline: var(--margin-default-inline);
}

a {
    color: unset;
    text-decoration-thickness: calc(var(--ratio-eighth) * 1rem); /** TODO: 앵커의 밑줄 두께를 변수화 */

    &:hover {
        text-decoration-color: var(--color-primary);
    }
}

.border {
    background-color: var(--color-default-white);
    border-color: var(--color-default-black);
    border-radius: var(--radius-default);
    border-style: solid;
    box-sizing: border-box;
    overflow-y: hidden;

    &.accent {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        padding-inline: var(--padding-inline-tag);
    }

    &.margin, .margin {
        margin-block: var(--margin-default-block);
        margin-inline: var(--margin-default-inline);
    }

    &.padding, .padding {
        padding: var(--padding-default);
    }

    &.invert, .invert {
        color: var(--color-default-white);
        background-color: var(--color-default-black);

        .invert {
            color: var(--color-default-black);
            background-color: var(--color-default-white);
        }
    }

    > :first-child {
        margin-block-start: unset;
    }

    > :last-child {
        margin-block-end: unset;
    }

    &.content, .content {
        h2, h3, h4, h5, h6 {
            color: var(--color-primary);
        }

        > li, ul > li {
            margin-block: var(--margin-default-block);

            &:first-child {
                margin-block-start: unset;
            }

            &:last-child {
                margin-block-end: unset;
            }
        }

        blockquote {
            border-inline-start-style: solid;
            border-inline-start-color: var(--color-primary);
            padding-inline-start: var(--padding-inline-tag);
        }
    }
}

#tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-tag);
    justify-content: end;

    padding-inline-start: 0;
    list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
    a {
        transition: text-decoration-color calc(var(--ratio-eighth) * 1s);
    }
}

@media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

/*!* 디폴트 값이라 활성화 필요가 없음 *!*/
/*!*::view-transition-old(root),*!*/
/*!*::view-transition-new(root) {*!*/
/*!*    animation-duration: 0.25s;*!*/
/*!*}*!*/

#title {
    view-transition-name: title;
}

#sub-category {
    view-transition-name: sub-category;
}

#content {
    view-transition-name: content;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(100%);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-100%);
    }
}

::view-transition-old(title) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(title) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(sub-category) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(sub-category) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(content) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}