:root {
    --font-color: Cornsilk;
    --background-color-body: #282a36;
    --background-color-section: dimgrey;

    --common-magine: 1.2rem;
}

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

body {
    font-family: 'Pretendard Variable', sans-serif;
    color: var(--font-color);
    background: var(--background-color-body);
    width: 720px;
    margin: 0 auto;
}

/* 공통 마진 */
nav, main, footer {
    margin-top: var(--common-magine);
    margin-bottom: var(--common-magine);
    background-color: var(--background-color-section);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

nav {
    background-color: dimgrey;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li a {
            font-size: 2rem;
        }
    }
}