---
---
@import "main";
@import "code.css";

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  color: Cornsilk;
  background: #111;
  width: 720px;
  margin: 0 auto;
}

$headings: (
  h1: '주제',
  h2: '',
  h3: '',
  h4: '',
  h5: '',
  h6: ''
);

@each $heading, $content in $headings {
  #{$heading} {
    background: linear-gradient(45deg, transparent 0%, transparent 75%, rgba(0, 200, 255, 0.25));
    // margin-top: 4rem;

    &::before {
      content: $content;
      float: right;
    }

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      // margin-top: 0.5rem;
    }
  }
}

nav {
  background-color: dimgrey;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    li a {
      font-size: 2rem;
    }
  }
}

main {
  background-color: dimgrey;
}

article, aside {
  background-color: rgba(0, 0, 0, 0.09);
  position: relative; /* time 태그를 article 태그에 상대적으로 배치 */
}

img {
  max-width: 100%;  
}

time {
  transform: translateX(150%);
  position: absolute;
  right: 0;
  writing-mode: vertical-rl; /* 세로 방향으로 쓰기 */
  // text-orientation: upright; /* 텍스트 방향을 유지 */
  // white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

header, main, footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: dimgrey;
  height: 5vh;
  display: grid;
  place-items: center;
}