---
---
@import "main";
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("/assets/fonts/NeoDunggeunmoPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/NeoDunggeunmoPro-Regular.woff") format("woff"),
    url("/assets/fonts/NeoDunggeunmoPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
}

a {
  color: #ccc;
}

body {
  color: #ccc;
  background: #111;
  width: 720px;
  margin: 0 auto;
}

header {
  //display: grid;
  //place-items: center;
}

nav {
  background-color: slategrey;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    li a {
      font-size: 2rem;
    }
  }
}

article {
  background-color: slategrey;
}

footer {
  background-color: slategrey;
  height: 5vh;
  display: grid;
  place-items: center;
}