@import "code/code.css";
@import "code/syntax-thankful_eyes.css";

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

body {
    font-family: 'Pretendard Variable', sans-serif;
    color: Cornsilk;
    background: #111;
    width: 720px;
    margin: 0 auto;
}

a {
    color: Cornsilk;
    text-decoration: none;
}

blockquote {
    border-left: 0.25rem solid #000;
}

nav {
    background-color: dimgrey;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li a {
            font-size: 2rem;
        }
    }
}

main {
    background-color: dimgrey;
}

article, aside {
    background-color: rgba(0, 0, 0, 0.09);
    position: relative; /* time 태그를 article 태그에 상대적으로 배치 */
}

img {
    max-width: 100%;
}

time {
    transform: translateX(150%);
    position: absolute;
    right: 0;
    writing-mode: vertical-rl; /* 세로 방향으로 쓰기 */
// text-orientation: upright; /* 텍스트 방향을 유지 */
// white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

header, nav, main, footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    font-size: 7rem;
    text-align: center;
}

footer {
    background-color: dimgrey;
    text-align: center;
    padding: 1rem;
}