:root {
    --header-bg-color-lv1: green;
    --header-bg-color: steelblue;
    --after-font-size: 1rem;
    --after-color: #fff;
    --after-bg-color: #000;
    --after-padding: 0.25rem;
}

article, aside {
    position: relative; /* time 태그를 article 태그에 상대적으로 배치 */
}

img {
    max-width: 100%;
}

time {
    transform: translateX(150%);
    position: absolute;
    right: 0;
    writing-mode: vertical-rl; /* 세로 방향으로 쓰기 */
    text-orientation: upright; /* 텍스트 방향을 유지 */
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

blockquote {
    border-left: 0.25rem solid #000;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

h1 {
    background-color: var(--header-bg-color-lv1);
}

h2, h3, h4, h5, h6 {
    margin-top: 3rem;
    background-color: var(--header-bg-color);
}

h1::after {
    content: "LV.1";
}

h2::after {
    content: "LV.2";
}

h3::after {
    content: "LV.3";
}

h4::after {
    content: "LV.4";
}

h5::after {
    content: "LV.5";
}

h6::after {
    content: "LV.6";
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    font-size: var(--after-font-size);
    padding: var(--after-padding);
    position: absolute;
    right: 0;
}

kbd {
    background-color: #000;
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
}