<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="preload" href="/assets/fonts/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/layout/article.css">
    {% include head/icon.html %}
	  {% include head/tinting.html %}
  </head>
  <body>
    {% include body/header.html %}
    {% include body/nav.html %}
    <main>
      {{ content }}
    </main>
    {% include body/footer.html %}
  </body>
</html>
