@import 'pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css';
@import 'pretendard-jp/dist/web/variable/pretendardvariable-jp-dynamic-subset.css';
@import '@kfonts/neodgm-code/index.css';
@import 'tailwindcss';
@import './callouts-obsidian.css';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import './lib/styles/bunny.css';
@import './lib/styles/markdown.css';

:root {
	color-scheme: light dark;
}

@layer base {
    html {
        @apply overscroll-none;
    }

    body > div:first-child {
        @apply contents;
    }
}

@theme {
	--color-white: hsl(42, 67%, 93%);
	--color-black: hsl(200, 5%, 10%);

	--font-mono: 'Neo둥근모 Code', 'Pretendard Variable', 'Pretendard', sans-serif;
	--font-sans: 'Pretendard Variable', 'Pretendard', sans-serif;
}
